<!DOCTYPE html>
<html lang="en" ng-app="modApp">
  
  <head>
    <title>Test Wep App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <!-- js jquery -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <!-- js bootstrap -->
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- js angular -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <!-- js app -->
    <script type="text/javascript" src="/index.js"></script>
  </head>

  <body class="container" ng-controller="ModCtrl as modCtrl">
    <h1>User Registration Form</h1>
    <div class="panel panel-default text-left">
      <form name="registrationForm" novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" placeholder="Type your email here please." 
          name="email" type="email" required ng-model="modCtrl.email">
          <span ng-show="registrationForm.email.$touched && registrationForm.email.$invalid">Valid email is required! Cheers!</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" placeholder="Type your password here please." 
          name="password" type="password" required ng-model="modCtrl.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/">
            <span ng-show="registrationForm.password.$touched && registrationForm.password.$invalid">
              Password should be atleast 8 characters long and should contain one number, one character and one special character. Cheers!
            </span>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" placeholder="Type your name here please." 
          name="name" type="text" required ng-model="modCtrl.name">
          <span ng-show="registrationForm.name.$touched && registrationForm.name.$invalid">Oh common you must have a name, right? Cheers!</span>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <input name="gender" type="radio" value="male" required ng-model="modCtrl.gender"> Male</input>
          <input name="gender" type="radio" value="female" required ng-model="modCtrl.gender"> Female</input>
          <p>
            <span ng-show="registrationForm.gender.$invalid">Please choose one. Cheers!</span>
          </p>
        </div>        

        <div class="form-group">
          <label for="dob">Date of birth</label>
          <input id="dob" class="form-control" placeholder="Type your date of birth here please." 
          name="dob" type="date" required ng-model="modCtrl.dob" min=(getFullYear(new Date())-18)>
          <span ng-show="registrationForm.dob.$touched && registrationForm.dob.$invalid">Sorry, you must be at least 18 to continue. Cheers!</span>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input id="address" class="form-control" placeholder="Type your address here please." 
          name="address" type="text" required ng-model="modCtrl.address">
          <span ng-show="registrationForm.address.$touched && registrationForm.address.$invalid">Address please? Cheers!</span>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <select name="country" id="country" ng-model="modCtrl.country" ng-options="i for i in modCtrl.listCountries"></select>
          <span ng-show="registrationForm.country.$touched && registrationForm.country.$invalid">You must live somewhere? Cheers!</span>
        </div>

        <div class="form-group">
          <label for="contact">Contact Number</label>
          <input id="contact" class="form-control" placeholder="Type your contact number here please." 
          name="contact" type="text" required ng-model="modCtrl.contact" ng-pattern="/^\(?[0-9]{3}(\))[0-9]{4}[0-9]{4}$/">
          <span ng-show="registrationForm.contact.$touched && registrationForm.contact.$invalid">Sorry, invalid format (Valid format is (XXX)XXXXXXXX). Cheers!</span>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success form-control" ng-click="modCtrl.register()" />
          <i class="fa fa-plus"></i> Connect! </button>
        </div>

        <div ng-show="modCtrl.showSuccess">
          <div class="panel panel-default text-center">
            <h1>Registration Successful!</h1>
          </div>
        </div>

      </form>
    </div>
  </body>
</html>